tr:nth-child(odd) {background: #DEEBEC;} 
tr:nth-child(even) {background: #F2F3F4;}

input[type=radio] + label {
  color: #6fa9a9;
  font-style: italic;
} 
input[type=radio]:checked + label {
  color: indigo;
  font-style: normal;
} 

label {
  margin-left: 5px;
  color:#0B5345;
  font-size:14px;
  font-weight: bold;

}

.RO_text {
  margin-left: 5px;
  color:darkcyan;
  font-size:14px;

}
.div_center {
  position:relative;
  display:inline;
  float:left;
  width:100%;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  color: indigo;
  font-size: 12px;

}

span.required_fields {
  color:red;
  font-size:16px;

}
form {
  margin: 0;
  padding: 0;
}

div.borrower_registration {
  width:500px;
  margin: 0;
  border: none;
  height:auto;
  padding:0;  
}

div.top {
  position:  relative;
  display:block;
  background-color: #ffffff;
  color:#000033;
  font-weight: bold;
  width:inherit;
  padding:inherit;
  align-content: left;
  margin: inherit;

}

div.application_footer {

  position:relative;
  float:left;
  bottom: 20px;
  width:500px;
  height:30px;
  align-content: center;
  background-color: white;
  margin-top:50px;margin-bottom: 15px;
  margin-right:20%;margin-left: 20%;
}

div#box a {
  margin: 0;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 

}

div.application_footer p {
  margin: 0;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

div.contact_information {
  position: relative;
  display:none;
  float:left;
  padding: inherit;
  width:inherit;
  height:auto;
  margin:inherit;
  align-content: left;

}

.app_panel {

  border:#3B5998 double medium ;
  height:auto;
}



.div_p {
  position: relative;
  float:left;
  display:block;
  background-color: #ffffff;
  color: #000033;
  width:100%;
  padding: inherit;
  align-content: left;

}
.right_div {

  position: relative;
  float:right;
  padding:2px 2px;  
  color:white;
  font-size: 14px;
  font-weight:normal;
  margin-right:15px;


}


.div_white {

  padding:3px 20px 10px 3px;
  clear:both;
  /* opacity:0; */
  display:inline;
  width:100%;
  float:left;
  margin-left:25px;
  height:1px;
  color: red;
}


.right_span {

  display:inline;
  clear:both;
  float:left;
  padding:2px 2px;  
  color:white;
  font-size: 14px;
  font-weight:normal;
  margin-right:15px;
  margin-top:15px;

}

#bottom {

  position:absolute;
  float:left;

}

select {

  font-size: 14px;

}



body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Helvetica CE", sans-serif;
  color: #000000;  
  margin: 5px;
}

h1 {
  font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
  /*border-bottom: 1px solid #AFAFAF;*/ 
  font-size:  40px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #045491;
}

h2 {
  font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
  /*    border-bottom: 1px solid #AFAFAF;  */
  font-size:  30px;
  font-weight: bold;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  color: #045491;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
  font-size:  14px;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.center_content {
  position: relative;
  float:left;
  width:60%;
  margin-left: 8px;
  margin-right: 6px;
  background-color: white;
  border: 5px;
  border-color: #D0ECE7;
}

.error-message {
  color: #d20005;
  font-family: 'New Century Schoolbook', serif;
  font-style: oblique;
  text-decoration: overline;
}

span.radius {
  color: indigo;
  font-family: 'New Century Schoolbook', serif;
  font-style: oblique;

}

.index_text {

  color: indigo;
  font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Helvetica CE", sans-serif;
  font-size: 14px;
  font-style: normal;

}
